.navbar{
    background-color: #e0f7fa;
    border: 1px solid darkblue;
    padding: 15px;
    margin-top: 30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main-header{
    text-align: center;
    color: white;
    font-size: 45px;
}

body{
background-color: darkblue;
}

a{
 color:red;
}